extends ./_layout.pug

block title
  title Home
  
block css
  link(rel='stylesheet', href='css/styles.css')
  
block js
  script(type='text/javascript', src='js/something.js')

block content
  h1 Welcome Home
  p.class1 This is a homepage
  h2 NICE!
