extends ./_layout.pug

block title
  title Welcome
  
block css
  link(rel='stylesheet', href='css/styles.css')
  
block js
  script(type='text/javascript', src='js/something.js')

block content
  h1 Welcome
  p.
    Testing multiline jade stuff.
    Does it work?
    woooo!
  h2#yes YES!
  p awesome sauce
